<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokemons</title>
  </head>
  <body>
    
    <div class="card" style="width: 18rem; background-color: gray">
      <div class="card-body">
        <h3 class="card-title">Pokemon Name: <%= ditto.name %></h3>
        <h5 class="card-title">Pokemon Order:  <%= ditto.order %></h5>
        <p class="card-text">Pokemon abilities:  <%= ditto.abilities[0].ability.name%>, <%= ditto.abilities[1].ability.name%></p>
      </div>
    </div>
    <div class="card" style="width: 18rem; background-color: gray">
      <div class="card-body">
        <h3 class="card-title">Pokemon Name: <%= squirtle.name %></h3>
        <h5 class="card-title">Pokemon Order:  <%= squirtle.order %></h5>
        <p class="card-text">Pokemon abilities: <%= squirtle.abilities[0].ability.name%>, <%= squirtle.abilities[1].ability.name%></p>
      </div>
    </div>
    <div class="card" style="width: 18rem; background-color: gray">
      <div class="card-body">
        <h3 class="card-title">Pokemon Name: <%= pikachu.name %></h3>
        <h5 class="card-title">Pokemon Order:  <%= pikachu.order %></h5>
        <p class="card-text">Pokemon abilities: <%= pikachu.abilities[0].ability.name%>, <%= pikachu.abilities[1].ability.name%></p>
      </div>
    </div>

  </body>
</html>
